.homepage{
    width: 90%;
    background-color: #E5E5E5;
    position: relative;
    padding-bottom: 25px;
}

.homepage__title{
    margin-top: 25px;
    text-align: left;
    margin-left: 30px;
}

.homepage__wrap{
    display: flex;
    justify-content: space-around;
}

.homepage__cart{
    background-color: #6160dc;
    width: 507px;
    height: 330px;
    position: relative;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.homepage__cart-title-current,
.homepage__cart-money-current{
    text-align: left;
    margin: 5px;
    margin-left: 30px;
    color: white;
}
.homepage__cart-title-current{
    margin-top: 30px;
}

.homepage__cart-money-circle1{
    background-color: rgba(252, 252, 252, 0.5);
    border-radius: 50%;
    position: absolute;
    width: 57.24px;
    height: 56px;
    left: 330px;
    top: 40px;
}

.homepage__cart-money-circle2{
    background-color: rgba(252, 252, 252, 0.5);
    border-radius: 50%;
    position: absolute;
    width: 57.24px;
    height: 56px;
    left: 375px;
    top: 40px;
}

.homepage__cart-id-name,
.homepage__cart-id-current{
    text-align: left;
    margin: 5px;
    margin-left: 160px;
    color: white;
    position: relative;
    z-index: 2;
}
.homepage__cart-id-name{
    margin-top: 160px;
}


.homepage__activity{
    background-color: white;
    width: 600px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.homepage__cart-money-circle3{
    background-color: #54C5EB;
    border-radius: 40px;
    position: absolute;
    width: 102px;
    height: 294px;
    left: 410px;
    top: 110px;
    z-index: 1;
}

.homepage__cart-money-circle4{
    background-color: #54C5EB;
    border-radius: 40px;
    position: absolute;
    width: 102px;
    height: 294px;
    left: 360px;
    top: 150px;
    z-index: 1;
    opacity: 0.5;
}


.homepage__activity-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.homepage__activity-title{
    margin-top: 30px;
    margin-left: 30px;
}
.homepage__activity-icon{
    width: 48px;
    height: 48px;
    background-color: #FF4A55;
    border-radius: 50px;
}
.homepage__activity-icon-img{
    position: relative;
    top: 3px;
    left: 3px;
    width: 40px;
    height: 40px;
}
.homepage__activity-info-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage__activity-info-name{
    line-height: 30px;
    margin: 0;
}

.homepage__activity-info-transaction{
    margin:0;
}


.homepage__activity-info-status{
    color: #00A389;
}

.homepage__footer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.homepage-wrap{
    display: flex;
    margin: 0 40px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    min-width: 250px;
    min-height: 215px;
    margin-bottom: 20px;
    align-content: center;
    cursor: pointer;
}

.homepage-wrap:hover{
    background-color: rgba(229, 229, 229, 0.2);
    
}

.homepage-img{
    width: 120px;
    height: 120px;
    margin-top: 20px;
}

